<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.Extensions" version="0.0.2" targetFramework="net45" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net472" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net45" />
</packages>